/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Extra small devices (phones, less than 768px) */

/* 
    GENERAL
*/
body {
  margin: 0;
}


/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, p, li, a, td, figcaption {
font-family: 'PT Sans', sans-serif;
color: white;
}

h3 {
    letter-spacing: 2px;

}
p {
    font-size: 20px;
}

header h1, .container {
    max-width: 800px;
    margin: auto;
    
}

header {
    background-color: rgb(135, 200, 149);
    text-align: center;
    padding: 0.5em;
}

.logo {
    width: 200px;
    height: auto;
    border: black 1px solid;
    padding: 0em;
    
}

footer {
    padding: 2.0em;
}

.header {
    text-align: center;
    position: sticky;
}

nav {
    background-color: black;
    position: sticky;
    width: 100%;
    top: 0;
  
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 1.5em;
  }

  .openbtn {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.openbtn:hover {
    color: grey;
}
.menu-text {
    font-size: 12px;
    display: block;
}
.ulside {
    display: block;
    margin: 0;
    padding: 0;
}
.liside {
    list-style-type: none;
}

/* The side navigation menu */
.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    background-color: white;  
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    transition: margin-left .5s;
    padding: 0;
}

/*
    BUTTONS AND LINKS
*/
.button {
    background-color: rgb(6, 88, 6);
    border: 3px solid rgb(6, 88, 6);
    border-radius: 20px;
    color: white;
    padding: 0.5em 1.0em;
    margin: 1.0em 2.0em 0 0;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out,color .2s ease-out,border-color .18s ease-out;
}

.button:hover {
    background-color: transparent;
    color: rgb(6, 88, 6);
}

.board {
    text-align: center;
}

.names {
    font-size: 18px;
    padding: 10px;
}

.container{  
    text-align: left;  
    max-width: 800px;
    padding: 2em;
    margin: auto;
    background-color: black;
    }  

.container1{
    background-color: lightgray;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 800px;
}

.container2{  
    text-align: center;  
    max-width: 900px;
    padding: 2em;
    margin: auto;
    background-color: black;
    }  

.container3{
        background-color: lightgray;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        max-width: 800px;
        padding: 2em;
    }
.blacktxt {
    color: black;
}

.shirt {
    max-width: 750px;
    height: auto;
}

img {
    height: 500px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}


a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
}


footer {
    height: 150px;
    background-color: rgb(4, 26, 4);
}

.foottxt {
    font-size: 16px;
}
/*
    MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #img {height: 100px;}
    #nav {max-width: 768px;}
    .container {max-width: 400px;}
    .container1 {max-width: 400px;}
    .container2 {max-width: 400px;}
    .container3 {max-width: 400px;}
    .logo {width: 80px;}
    #footer {height: 100px;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #img {height: 200px;}
    #nav {max-width: 992px;}
    .container {max-width: 500px;}
    .container1 {max-width: 500px;}
    .container2 {max-width: 500px;}
    .container3 {max-width: 500px;}
    .logo {width: 100px;}
    #footer {height: 120px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #nav {max-width: 1200px;}
    #img {height: 500px;}
    #nav {max-width: 1200px;}
    .container {max-width: 800px;}
    .container1 {max-width: 800px;}
    .container2 {max-width: 900px;}
    .container3 {max-width: 800px;}
    .logo {width: 200px;}
    #footer {height: 150px;}

}
